@{
    ViewData["Title"] = "Home Page";
}
{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/home.css" rel="stylesheet" />

<header>
    <video autoplay muted loop class="video-fundo">
        <source src="/Video/6690024-hd_1920_1080_25fps.mp4" type="video/mp4" />

    </video>
    <div class="container text-center text-warning  ">
        <h1 class="">Sistema de Clientes</h1>
        <p class="">Tecnologia de Qualidade</p>
        <div>
            <button class="btn btn-outline-light me-2">Saiba Mais...</button>
        </div>

    </div>

</header>
</div>
